[submodule ".local/share/nvim/site/pack/colors/opt/gruvbox-material"]
	path = .local/share/nvim/site/pack/colors/opt/gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material.git
[submodule ".local/share/nvim/site/pack/functionality/opt/vim-gutentags"]
	path = .local/share/nvim/site/pack/functionality/opt/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule ".local/share/nvim/site/pack/functionality/opt/vim-fugitive"]
	path = .local/share/nvim/site/pack/functionality/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".local/share/nvim/site/pack/functionality/opt/goyo.vim"]
	path = .local/share/nvim/site/pack/functionality/opt/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule ".local/share/nvim/site/pack/functionality/opt/vim-signify"]
	path = .local/share/nvim/site/pack/functionality/opt/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".local/share/nvim/site/pack/functionality/opt/tabular"]
	path = .local/share/nvim/site/pack/functionality/opt/tabular
	url = https://github.com/godlygeek/tabular.git
