[submodule ".local/share/nvim/site/pack/colors/opt/gruvbox-material"]
	path = .local/share/nvim/site/pack/colors/opt/gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material.git
[submodule ".local/share/nvim/site/pack/functionality/opt/vim-gutentags"]
	path = .local/share/nvim/site/pack/functionality/opt/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule ".local/share/nvim/site/pack/functionality/opt/vim-fugitive"]
	path = .local/share/nvim/site/pack/functionality/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".local/share/nvim/site/pack/functionality/opt/goyo.vim"]
	path = .local/share/nvim/site/pack/functionality/opt/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule ".local/share/nvim/site/pack/functionality/opt/vim-signify"]
	path = .local/share/nvim/site/pack/functionality/opt/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".local/share/nvim/site/pack/functionality/opt/tabular"]
	path = .local/share/nvim/site/pack/functionality/opt/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".local/share/nvim/site/pack/functionality/opt/vimtex"]
	path = .local/share/nvim/site/pack/functionality/opt/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule ".local/share/nvim/site/pack/colors/opt/vim-devicons"]
	path = .local/share/nvim/site/pack/colors/opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule ".local/share/nvim/site/pack/colors/opt/lualine.nvim"]
	path = .local/share/nvim/site/pack/colors/opt/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule ".local/share/nvim/site/pack/functionality/opt/nvim-treesitter"]
	path = .local/share/nvim/site/pack/functionality/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule ".local/share/nvim/site/pack/functionality/opt/nvim-lspconfig"]
	path = .local/share/nvim/site/pack/lsp/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule ".local/share/nvim/site/pack/functionality/opt/lspkind-nvim"]
	path = .local/share/nvim/site/pack/lsp/opt/lspkind-nvim
	url = https://github.com/onsails/lspkind-nvim.git
[submodule ".local/share/nvim/site/pack/functionality/opt/lsp-status.nvim"]
	path = .local/share/nvim/site/pack/lsp/opt/lsp-status.nvim
	url = https://github.com/nvim-lua/lsp-status.nvim.git
[submodule ".local/share/nvim/site/pack/functionality/opt/nvim-jdtls"]
	path = .local/share/nvim/site/pack/lsp/opt/nvim-jdtls
	url = https://github.com/mfussenegger/nvim-jdtls.git
[submodule ".local/share/nvim/site/pack/functionality/opt/nvim-snippy"]
	path = .local/share/nvim/site/pack/functionality/opt/nvim-snippy
	url = https://github.com/dcampos/nvim-snippy.git
[submodule ".local/share/nvim/site/pack/completion/opt/nvim-cmp"]
	path = .local/share/nvim/site/pack/completion/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule ".local/share/nvim/site/pack/completion/opt/cmp-nvim-lsp"]
	path = .local/share/nvim/site/pack/completion/opt/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule ".local/share/nvim/site/pack/completion/opt/cmp-snippy"]
	path = .local/share/nvim/site/pack/completion/opt/cmp-snippy
	url = https://github.com/dcampos/cmp-snippy.git
[submodule ".local/share/nvim/site/pack/completion/opt/cmp-buffer"]
	path = .local/share/nvim/site/pack/completion/opt/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
[submodule ".local/share/nvim/site/pack/completion/opt/cmp-path"]
	path = .local/share/nvim/site/pack/completion/opt/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule ".local/share/nvim/site/pack/colors/opt/yuck.vim"]
	path = .local/share/nvim/site/pack/colors/opt/yuck.vim
	url = https://github.com/elkowar/yuck.vim.git
[submodule ".local/share/nvim/site/pack/lib/opt/plenary.nvim"]
	path = .local/share/nvim/site/pack/lib/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule ".local/share/nvim/site/pack/functionality/opt/telescope.nvim"]
	path = .local/share/nvim/site/pack/functionality/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule ".local/share/nvim/site/pack/functionality/opt/telescope-fzf-native.nvim"]
	path = .local/share/nvim/site/pack/functionality/opt/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim.git
